
/*#header center{
	padding: 0px 1%;
	display: inline-block;
}

.font-header{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 8%;
}
*/
  html, body {
	width: 210mm;
	height: 297mm;
  }

/*html < div { display: none; }

*/
textarea {
 	resize: none;
}
button, #get_rat, a  {
	display: none;
}
select {
	-webkit-appearance: none;
	border: 0px;

}
select::-ms-expand {
	display: none;
}

#header{
	background: gray;
}

#header center {
/*    padding: 2% 10%;
    font-size: 70%;*/
}

textarea, input{
	border: none;
}